.bg-venda{
	background: url('../images/bg-venda.png') no-repeat left center;
}
.bg-user{
	background: url('../images/bg-user.png') no-repeat left center;
}
.form-newsletter{
	background-color: #e96990;
	[type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after{
		top: -10px;
	}
}
.form-email{
	background: #e96990 url(../images/icon-email.svg) no-repeat 25px center;
	background-size: 10%;
}
.form-house{
	background: #e96990 url(../images/icon-house.svg) no-repeat 25px center;
	background-size: 5%;
}
.form-address{
	background: #e96990 url(../images/icon-address.svg) no-repeat 25px center;
	background-size: 5%;
}
.button-photo{
	margin-top: 10px;
	margin-bottom: 10px;
}
a.btn{
	font-size: 11px;
}
button.btn:disabled{
	opacity: .4;
}
.box-place input{
	width: 400px;
}
.gallery{

	width: 440px;
	margin: 0 auto;
	padding: 0 15px;

	.item{
		float: left;
		padding-top: 10px;
		width: 125px;
		height: 155px;
		margin: 5px;
		border: 1px solid #242627;
		background: #3C3E40;
		border-radius: 3px;
		box-shadow: inset 0 1px 3px rgba(0,0,0,.2);

		.img-gallery{
			object-fit: cover;
		}

		.act-btn{
			margin-top: 10px;

			button{
				width: 25px;
				padding: 10px 20px;
				margin: 0;
				height: 25px;
				border: 1px solid white;
				outline: 0;
			}
		}

		.btn-photo{
			background: transparent url("../images/icon-photo.svg") no-repeat center center;
			background-size: 50%;
		}
		.btn-excluir{
			background: transparent url("../images/icon-delete.svg") no-repeat center center;
			background-size: 40%;
		}
	}
}