body{
	font-size: 14px;
	font-family: "gotham_extralightregular",Helvetica,Arial,sans-serif;

	background: #5d0b3a; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #5d0b3a 0%, #000000 76%, #000000 102%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#5d0b3a), color-stop(76%,#000000), color-stop(102%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #5d0b3a 0%,#000000 76%,#000000 102%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #5d0b3a 0%,#000000 76%,#000000 102%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #5d0b3a 0%,#000000 76%,#000000 102%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #5d0b3a 0%,#000000 76%,#000000 102%); /* W3C */
  background-repeat: no-repeat;
}

.bg-load{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}
.info-load{
  width: 200px;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 18px;
  background-color: #000;
}

.loader {
  margin: 10px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid rgba(255, 255, 255, 0.2);
  border-right: 5px solid rgba(255, 255, 255, 0.2);
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
  border-left: 5px solid #ffffff;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

input{
	border: 1px solid #ED398B;
	outline: 0;
	padding: 5px;
	width: 160px;
}

/* Base for label styling */
input[type=radio]{
	display: none;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label,
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: -1px;
  width: 17px; height: 17px;
  border: 1px solid #242627;
  background: #3C3E40;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.2)
}
/* checked mark aspect */
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0; left: 3px;
  font-size: 14px;
  color: #fefefe;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="radio"]:not(:checked) + label:after,
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="radio"]:checked + label:after,
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
// [type="radio"]:disabled:not(:checked) + label:before,
// [type="radio"]:disabled:checked + label:before,
// [type="checkbox"]:disabled:not(:checked) + label:before,
// [type="checkbox"]:disabled:checked + label:before {
//   box-shadow: none;
//   border-color: #bbb;
//   background-color: #ddd;
// }
[type="radio"]:disabled:checked + label:after,
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="radio"]:disabled + label,
[type="checkbox"]:disabled + label {
  color: #aaa;
}

// input[type=radio]:checked + label:before {
//     content: "\2022";
//     color: #f3f3f3;
//     font-size: 30px;
//     text-align: center;
//     line-height: 18px;
// }

// /* form starting stylings ------------------------------- */
// .group{
// 	position:relative;
// 	margin-left: 60px;
// 	margin-top: 12px;
// }
// input{
// 	font-size: 14px;
// 	padding: 10px 10px 3px 5px;
// 	display: block;
// 	width: 190px;
// 	border: none;
// 	border-bottom: 1px solid white;
// 	background-color: transparent;
// }
// input:focus{ outline:none; }

// /* LABEL ======================================= */
// label{
// 	color: white;
// 	font-size: 18px;
// 	font-weight: normal;
// 	position: absolute;
// 	pointer-events: none;
// 	left: 5px;
// 	top: 0px;
// 	transition: 0.2s ease all;
// 	-moz-transition: 0.2s ease all;
// 	-webkit-transition: 0.2s ease all;
// }

// /* active state */
// input:focus ~ label, input:valid ~ label{
// 	top: -20px;
// 	font-size: 14px;
// 	color: #FFF;
// }

// /* BOTTOM BARS ================================= */
// .bar{
// 	position: relative;
// 	display: block;
// 	width: 190px;
// }
// .bar:before, .bar:after{
// 	content: '';
// 	height: 1px;
// 	width: 0;
// 	bottom: 0px;
// 	position: absolute;
// 	background: #FFF;
// 	transition: 0.2s ease all;
// 	-moz-transition: 0.2s ease all;
// 	-webkit-transition: 0.2s ease all;
// }
// .bar:before{
// 	left: 50%;
// }
// .bar:after{
// 	right: 50%;
// }

// /* active state */
// input:focus ~ .bar:before, input:focus ~ .bar:after {
// 	width: 50%;
// }

// /* HIGHLIGHTER ================================== */
// .highlight {
// 	position: absolute;
// 	height: 60%;
// 	width: 100px;
// 	top: 25%;
// 	left: 0;
// 	pointer-events: none;
// 	opacity: 0.5;
// }

// /* active state */
// input:focus ~ .highlight {
// 	-webkit-animation: inputHighlighter 0.3s ease;
// 	-moz-animation: inputHighlighter 0.3s ease;
// 	animation: inputHighlighter 0.3s ease;
// }

// /* ANIMATIONS ================ */
// @-webkit-keyframes inputHighlighter {
// 	from { background:#BC1E58; }
// 	to 	{ width:0; background:transparent; }
// }
// @-moz-keyframes inputHighlighter {
// 	from { background:#BC1E58; }
// 	to 	{ width:0; background:transparent; }
// }
// @keyframes inputHighlighter {
// 	from { background:#BC1E58; }
// 	to 	{ width:0; background:transparent; }
// }
// /* active state */
// input:focus ~ label, input:valid ~ label {
// 	top: -20px;
// 	font-size: 14px;
// 	color: #FFF;
// }

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.txt-center{
	text-align: center;
}

.txt-right{
	text-align: right;
}

.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo-top{
	padding-top: 50px;
}

.btn{
	position: relative;
	padding: 8px 30px;
	border: 0;
	margin: 10px 1px;
	border-radius: 2px;
	text-transform: uppercase;
	text-decoration: none;
	color: rgba(255,255,255,.84);
	outline: none!important;
	background-color: #6B1B31;
	// background-color: #BC1E58;
	font-family: "gotham_lightregular";
}

[class^="bg-"]{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 40% !important;
}

[angular-ripple] {
  position: relative;
  overflow: hidden;
}
.angular-ripple {
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transform: scale(0);
}
.angular-ripple.animate {
  animation: ripple 0.35s linear;
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}