.box-results{
	color: white;
	padding: 15px 0 0 0;
	border-radius: 5px;
	margin-top: 50px;
	background-color: #b84162;

	h1{
		font-family: "gotham_lightregular";
	}
}
.slider{
	width: 1000px;
	flex-direction: row;
	display: flex;

	transform: translate3d(0px, 0, 0);
	-webkit-transition-duration: 250ms;
	-moz-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;

	&.left{
		transform: translate3d(-510px, 0, 0);
	}
}
.content-results{
	padding: 10px;
	margin-top: 10px;
	background-color: #222;
	overflow: hidden;
	max-width: 500px;

	h2{
		font-family: "gotham_lightregular";
		margin-bottom: 10px;
	}

	.col:not(:first-child){
		margin-left: 15px;
		border-left: 1px solid #666;
	}
}
.col {
	// float: left;
	// display: table-cell;
	padding: 0 30px;
}
.choices{
	margin: 0;
	padding: 0;

	li{
		list-style: none;
		padding: 3px 0;
	}
}
.btn-bottom{
	margin-top: 15px;
	padding-right: 10px;
}
.email-bottom{
	margin-left: 10px;

	input[type="text"]{
		width: 40%;
	}
}
.buttons-bottom{
	margin-top: -37px;
}