.bg-home{
	background: url('../images/bg-home.png') no-repeat left center;
}
.content-options{
	width: 400px;
	padding-top: 130px;
}
.box-option{
	width: 50%;
	padding: 5px;
	float: left;

	.opt1{
		background-color: #D21F5E;
	}
	.opt2{
		background-color: #D64672;
	}
	.opt3{
		background-color: #D66389;
	}
	.opt4{
		background-color: #DF789B;
	}
}
.option{
	height: 150px;
	padding: 10px;
	border-radius: 5px;
	background-color: #fff;
	position: relative;
	text-align: center;

	img{
		margin-top: 20px;
	}

	p{
		color: white;
		bottom: 10px;
		text-transform: uppercase;
		position: absolute;
		text-align: left;
	}
}