.bg-login{
	background: url('../images/bg-login.png') no-repeat left center;
}
.box-login{
	width: 270px;
	margin-top: 130px;
}
.box-place{
	width: 500px;
}
.box-login, .box-place{
	border-radius: 5px;
	background-color: #b84162;
}
.form-login{
	color: white;
	padding: 10px 0;

	p{
		padding-bottom: 10px;
		font-family: "gotham_lightregular";
	}
}
.form-row{
	height: 40px;
	padding-left: 15px;
	line-height: 35px;
	border-top: 1px solid #ed91ab;
	border-bottom: 1px solid #c11e59;
	// box-shadow: inset 0 1px 2px 0 rgba(255,255,255,.3), inset 0 -2px 7px 0 rgba(0,0,0,0.16), 0 0px 0px 0 rgba(0,0,0,0.2);
}
.form-user{
	background: #e96990 url(../images/icon-user.svg) no-repeat 25px center;
	background-size: 10%;
}
.form-password{
	background: #e96990 url(../images/icon-password.svg) no-repeat 25px center;
	background-size: 10%;
}