@font-face {
    font-family: 'gotham_extralightregular';
    src: url('../fonts/gotham_extralight-webfont.eot');
    src: url('../fonts/gotham_extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham_extralight-webfont.woff2') format('woff2'),
         url('../fonts/gotham_extralight-webfont.woff') format('woff'),
         url('../fonts/gotham_extralight-webfont.ttf') format('truetype'),
         url('../fonts/gotham_extralight-webfont.svg#gotham_extralightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_lightregular';
    src: url('../fonts/gotham_light-webfont.eot');
    src: url('../fonts/gotham_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham_light-webfont.woff2') format('woff2'),
         url('../fonts/gotham_light-webfont.woff') format('woff'),
         url('../fonts/gotham_light-webfont.ttf') format('truetype'),
         url('../fonts/gotham_light-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham_book-webfont.eot');
    src: url('../fonts/gotham_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham_book-webfont.woff2') format('woff2'),
         url('../fonts/gotham_book-webfont.woff') format('woff'),
         url('../fonts/gotham_book-webfont.ttf') format('truetype'),
         url('../fonts/gotham_book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font-weight: 300;
    vertical-align:baseline;
    background:transparent;
    -webkit-font-smoothing: antialiased;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}