<div class="logo-top txt-center">
	<img src="images/logo-vizcaya.svg" height="150" alt="Logo Vizcaya">
</div>
<div ui-view="mainContent"></div>
<div class="bg-load" ng-hide="!isLoading">
	<div class="info-load">
		<p>Carregando</p>
		<div class="loader">Loading...</div>
	</div>

</div>