<div class="bg-user flex-center" style="background-size: 50% !important;">

	<div class="box-login txt-center">
		<form novalidate name="userForm" class="form-login">
			<p>CADASTRO DO CLIENTE</p>
			<div class="form-row form-user">
				<input type="text" placeholder="nome" ng-model="vm.username" required></input>
			</div>
			<div class="form-row form-email">
				<input type="email" placeholder="e-mail" ng-model="vm.email" required></input>
			</div>
			<div class="form-row form-newsletter">
				<input id="chkimg" type="checkbox" ng-model="vm.newsletter" ng-true-value="1" ng-false-value="0"></input>
				<label for="chkimg">Deseja receber newsletter?</label>
			</div>
			<div class="txt-center button-photo">
				<img src="images/icon-photo.svg" alt="Tirar foto" height="50" ng-click="vm.takePicture()">
			</div>
			<div class="txt-center">
				<img src="" alt="" id="profilePhoto" width="100" height="100" style="object-fit: cover;">
				<input type="checkbox" ng-model="vm.imgprofile" required></input>
			</div>

			<a angular-ripple class="btn" ui-sref="app.home">home</a>
			<button angular-ripple class="btn" ng-click="vm.save()" ng-disabled="userForm.$invalid">enviar</button>
		</form>
	</div>

</div>