<div class="bg-venda flex-center">

	<div class="box-place txt-center">
		<form novalidate name="vendaForm" class="form-login">
			<p>PONTO DE VENDA</p>
			<div class="form-row form-house">
				<input type="text" placeholder="nome pdv" ng-model="vm.nameplace" required></input>
			</div>
			<div class="form-row form-address">
				<input type="text" placeholder="endereço" ng-model="vm.address" required></input>
			</div>
			<p style="padding-top: 10px;">Galeria de imagens:</p>
			<div class="gallery">
				<div class="item"ng-repeat="(key, value) in vm.gallery">
					<img ng-src="{{value.image}}" class="img-gallery" alt="" height="100" width="100">
					<div class="act-btn">
						<button class="btn-photo" ng-click="vm.takePicture(value)"></button>
						<button class="btn-excluir" ng-click="vm.removePicture(value)"></button>
					</div>
				</div>
			</div>

			<a angular-ripple class="btn" ui-sref="app.home">home</a>
			<button angular-ripple class="btn" ng-click="vm.save()" ng-disabled="vendaForm.$invalid">enviar</button>
		</form>
	</div>

</div>