<div class="flex-center">

	<div class="box-results">
		<h1 class="txt-center">RESULTADOS</h1>

		<form novalidate name="formDiagnostico">

			<div class="content-results" ng-init="slider_left = false">
				<div class="slider" ng-class="{'left': slider_left}">
					<div class="col">
						<h2>Tipo</h2>
						<ul class="choices">
							<li ng-repeat="(key, tipo) in vm.diagnosticoSelected.tipo">
								<input type="radio" id="rd-tipo{{$index}}" ng-model="$parent.tipo" value="{{tipo.nome}}" name="tipo" ng-click="vm.setDefaultValues(vm.diagnosticoSelected.tipo, tipo)" required/>
		    					<label for="rd-tipo{{$index}}">{{tipo.nome}}</label>
							</li>
						</ul>
					</div>
					<div class="col">
						<h2>Forma</h2>
						<ul class="choices">
							<li ng-repeat="(key, forma) in vm.diagnosticoSelected.forma">
								<input type="radio" id="rd-forma{{$index}}" ng-model="$parent.forma" value="{{forma.nome}}" name="forma" ng-click="vm.setDefaultValues(vm.diagnosticoSelected.forma, forma)" required/>
		    					<label for="rd-forma{{$index}}">{{forma.nome}}</label>
							</li>
						</ul>
					</div>
					<div class="col">
						<h2>Cor</h2>
						<ul class="choices">
							<li ng-repeat="(key, cor) in vm.diagnosticoSelected.cor">
								<input type="radio" id="rd-cor{{$index}}" ng-model="$parent.cor" value="{{cor.nome}}" name="cor" ng-click="vm.setDefaultValues(vm.diagnosticoSelected.cor, cor)" required/>
		    					<label for="rd-cor{{$index}}">{{cor.nome}}</label>
							</li>
						</ul>
					</div>
					<div class="col">
						<h2>Problema</h2>
						<ul class="choices">
							<li>
								<input type="checkbox" id="chk1" name="problema" ng-change="vm.verifyLength(3, 'problema')" ng-model="vm.diagnosticoSelected.problema.ressecados" ng-true-value="1" ng-false-value="0"/>
		    					<label for="chk1">Ressecados</label>
							</li>
							<li>
								<input type="checkbox" id="chk2" name="problema" ng-change="vm.verifyLength(3, 'problema')" ng-model="vm.diagnosticoSelected.problema.quebradicos" ng-true-value="1" ng-false-value="0"/>
		    					<label for="chk2">Quebradiços</label>
							</li>
							<li>
								<input type="checkbox" id="chk3" name="problema" ng-change="vm.verifyLength(3, 'problema')" ng-model="vm.diagnosticoSelected.problema.danificados" ng-true-value="1" ng-false-value="0"/>
		    					<label for="chk3">Danificados</label>
							</li>
							<li>
								<input type="checkbox" id="chk4" name="problema" ng-change="vm.verifyLength(3, 'problema')" ng-model="vm.diagnosticoSelected.problema.queda" ng-true-value="1" ng-false-value="0"/>
		    					<label for="chk4">Queda</label>
							</li>
							<li>
								<input type="checkbox" id="chk5" name="problema" ng-change="vm.verifyLength(3, 'problema')" ng-model="vm.diagnosticoSelected.problema.frizz" ng-true-value="1" ng-false-value="0"/>
		    					<label for="chk5">Frizz</label>
							</li>
							<li>
								<input type="checkbox" id="chk6" name="problema" ng-change="vm.verifyLength(3, 'problema')" ng-model="vm.diagnosticoSelected.problema.volume" ng-true-value="1" ng-false-value="0"/>
		    					<label for="chk6">Volume</label>
							</li>
							<li>
								<input type="checkbox" id="chk7" name="problema" ng-change="vm.verifyLength(3, 'problema')" ng-model="vm.diagnosticoSelected.problema.finos" ng-true-value="1" ng-false-value="0"/>
		    					<label for="chk7">Finos</label>
							</li>
							<li>
								<input type="checkbox" id="chk8" name="problema" ng-change="vm.verifyLength(3, 'problema')" ng-model="vm.diagnosticoSelected.problema.residuos" ng-true-value="1" ng-false-value="0"/>
		    					<label for="chk8">Com acúmulo de resíduos</label>
							</li>
						</ul>
					</div>
					<div class="col">
						<h2>Tratamento Químico</h2>
						<ul class="choices">
							<li>
								<input type="checkbox" id="chk9" name="tratamento" ng-change="vm.verifyLength(2, 'tratamento')" ng-model="vm.diagnosticoSelected.tratamento.alisamento" ng-true-value="1" ng-false-value="0"/>
		    					<label for="chk9">Alisamento</label>
							</li>
							<li>
								<input type="checkbox" id="chk10" name="tratamento" ng-change="vm.verifyLength(2, 'tratamento')" ng-model="vm.diagnosticoSelected.tratamento.coloracao" ng-true-value="1" ng-false-value="0"/>
		    					<label for="chk10">Coloração</label>
							</li>
							<li>
								<input type="checkbox" id="chk11" name="tratamento" ng-change="vm.verifyLength(2, 'tratamento')" ng-model="vm.diagnosticoSelected.tratamento.descoloracao" ng-true-value="1" ng-false-value="0"/>
		    					<label for="chk11">Descoloração</label>
							</li>
							<li>
								<input type="checkbox" id="chk12" name="tratamento" ng-change="vm.verifyLength(2, 'tratamento')" ng-model="vm.diagnosticoSelected.tratamento.nenhum" ng-true-value="1" ng-false-value="0"/>
		    					<label for="chk12">Nenhum</label>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="btn-bottom">
				<div class="email-bottom">
					<input type="email" placeholder="e-mail" ng-model="vm.emailCliente" required></input>
				</div>
				<div class="txt-right buttons-bottom">
					<button angular-ripple class="btn" ng-show="!slider_left" ui-sref="app.home">home</button>
					<button angular-ripple class="btn" ng-show="slider_left" ng-click="slider_left = false">voltar</button>
					<button angular-ripple class="btn" ng-show="!slider_left" ng-click="slider_left = true">avançar</button>
					<button angular-ripple class="btn" ng-show="slider_left" ng-click="vm.update()" ng-disabled="formDiagnostico.$invalid || !vm.disablebtn">enviar</button>
				</div>
			</div>
		</form>
	</div>
</div>