<div class="bg-home flex-center">

	<div class="content-options">
		<div class="box-option">
			<div angular-ripple class="option opt1" ui-sref="app.cadastrouser">
				<img src="images/icon-cadastro.svg" height="70">
				<p>Realizar </br> Cadastro</p>
			</div>
		</div>
		<div class="box-option">
			<div angular-ripple class="option opt2" ui-sref="app.diagnostico">
				<img src="images/icon-diagnostico.svg" height="70">
				<p>Realizar </br> Diagnóstico</p>
			</div>
		</div>
		<div class="box-option">
			<div angular-ripple class="option opt3" ng-click="vm.openPDF()">
				<img src="images/icon-catalogo.svg" height="70">
				<p>Catálogo </br> de Produtos</p>
			</div>
		</div>
		<div class="box-option">
			<div angular-ripple class="option opt4" ui-sref="app.cadastrovenda">
				<img src="images/icon-ponto-de-venda.svg" height="70">
				<p>Ponto </br> de Venda</p>
			</div>
		</div>
	</div>

</div>