<div class="bg-login flex-center">

	<div class="box-login txt-center">
		<form ng-submit="" class="form-login">
			<p>IDENTIFICAÇÃO DO USUÁRIO</p>
			<div class="form-row form-user">
				<input ng-model="vm.user.email" type="email" placeholder="usuário" required></input>
			</div>
			<div class="form-row form-password">
				<input ng-model="vm.user.password" type="password" placeholder="senha" required></input>
			</div>
			<!-- <div class="form-row form-user">
				<div class="group">
					<input type="text" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Usuário</label>
				</div>
			</div>
			<div class="form-row form-password">
				<div class="group">
					<input type="text" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Senha</label>
				</div>
			</div> -->
			<button angular-ripple class="btn" ng-click="vm.login()">ENTRAR</button>
		</form>
	</div>

</div>